* {
  min-width: 0;
}
body {
  width: 100dvw;
  height: 100dvh;
  overflow: hidden;
  display: flex;
  flex-direction: row;
}

h1, p {
  margin: 0;
}
dialog {
  border-radius: 1rem;
}
.close {
  position: absolute;
  right: 0;
  top: 0;
  background: transparent;
  border: none;
  margin: 2px;
}

.gutter {
  user-select: none;
  background-color: var(--bg-1);
  background-repeat: no-repeat;
  background-position: 50%;
}
.gutter.gutter-horizontal {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
  cursor: col-resize;
}
.gutter.gutter-vertical {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAFAQMAAABo7865AAAABlBMVEVHcEzMzMzyAv2sAAAAAXRSTlMAQObYZgAAABBJREFUeF5jOAMEEAIEEFwAn3kMwcB6I2AAAAAASUVORK5CYII=');
  cursor: row-resize;
}

#editors {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100dvh;
  overflow: hidden;
}
nav {
  display: flex;
}
main {
  flex: 1;
  margin-bottom: 20px;
}
#html, #css, #js {
  height: calc(var(--h, 33.33%) - 20px);
}
main .gutter {
  display: flex;
  gap: 5px;
  align-items: center;
  height: 20px;
}

.setting {
  position: absolute;
  top: 0px;
  right: 0px;
  padding: 0px;
  width: 18px;
  height: 18px;
  border-radius: 0.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
select {
  margin: 0px;
  padding: 2px;
}
.presets {
  position: absolute;
  top: 0px;
  right: 20px;
  height: 18px;
  border-radius: 0.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

#view {
  display: flex;
  flex-direction: column;
}

.render-div {
  flex: 1;
  position: relative;
}
iframe {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  min-width: 0;
  min-height: 0;
  width: 100%;
  height: 100%;
  border: none;
  background-color: #fff;
}

.console {
  overflow-y: auto;
  height: 25vh;
  padding-top: 5px;
  background-color: var(--bg-0);
}
#readout {
  height: 100%;
  overflow-y: auto;
}
pre {
  width: fit-content;
  margin: 4px 0px;
  text-wrap: auto;
  word-break: break-all;
}

.ci {
  color: var(--bg-0);
  padding: 1px;
  background-color: var(--blue-1);
}
.cw {
  color: var(--bg-0);
  padding: 1px;
  background-color: var(--yellow-1);
}
.ce {
  color: var(--bg-0);
  padding: 1px;
  background-color: var(--red-1);
}
.cd {
  color: var(--bg-0);
  padding: 1px;
  background-color: var(--purple-1);
}